@import '/src/colors.scss';
@import '/src/breakpoints.scss';

.tab-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10%;

  .tabs {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .tab {
      font-size: 26px;
      color: $dark-text;
      text-align: left;
      cursor: pointer;

      &.selected-tab {
        color: $accent-color;
      }
    }
  }

  .content {
    flex: 1;
  }


  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;

    .tabs {
      flex-direction: row;
      width: 100%;
      overflow-x: scroll;
      padding-bottom: 20px;


      .tab {
        font-size: 18px;
      }
    }
  }
}